# Windows:
Thumbs.db
ehthumbs.db
Desktop.ini
*.xlsx
# Python:
*.py[cod]
*.so
*.egg
*.egg-info
dist
build

# My configurations:
db.ini
deploy_key_rsa
*.exe
新建文件夹/pyinstaller-develop.zip
*.gz
*.doc
新建文件夹/python-2.7.13.msi